*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.name
/.idea/compiler.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/issuestore/b/3/b3cac4faf4269147ebaa15e108cca609a1c2dc8a
/.idea/sonarlint/issuestore/0/5/05efc8b1657769a27696d478ded1e95f38737233
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/5/b/5bfacd255cd15a5f118320a4787615d91445db8b
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
/.idea/sonarlint/issuestore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
